.firstChild{
    margin : 0 ;
    color : #fff;
    text-align: center;
    font-weight : 600;
}
.secChild {
    margin-top: 10px;
   color : #fff;
 font-weight : 700 ;
}
.footer{
    color : #fff;
    text-align : center;
    max-width: 60%;
    font-size : 20px; 
    line-height : 2;
    font-weight : 700;
    margin-top: 50px;
    
}
@media (max-width: 461px) { 
    .firstChild{
        font-size: 36px;
       }
       .secChild {
        font-size: 15px;
       }
       .footer{
        max-width: 92%;
        font-size: 13px;
       }
 }

@media (min-width: 462px) and (max-width: 575px) {  
    .firstChild{
        font-size: 47px;
       }
       .secChild {
        font-size: 20px;
       }
       .footer{
        max-width: 87%;
        font-size: 17px;
       }
}

@media (min-width: 576px) { 
    .firstChild{
        font-size: 61px;
       }
       .secChild {
        font-size: 26px;
       }
       .footer{
        max-width: 85%;
        font-size: 18px;
       }
 }

@media (min-width: 768px) { 
    .firstChild{
        font-size: 80px;
       }
       .secChild {
        font-size: 32px;
       }
 }

@media (min-width: 992px) { 
    .firstChild{
        font-size: 88px;
       }
       .secChild {
        font-size: 40px;
       }
       .footer{
        font-size: 18px;
        max-width: 60%;

       }
     }

@media (min-width: 1200px) { 
    .firstChild{
        font-size: 88px;
       }
       .secChild {
        font-size: 40px;
        max-width: 50%;

       }
 }

@media (min-width: 1400px) { 
   .firstChild{
    font-size: 90px;
   }
   .secChild {
    font-size: 42px;
   }
   .footer{
    max-width: 37%;
   }

 }